.color-palette input[type='number']::-webkit-outer-spin-button,
.color-palette input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.color-palette input[type='number'] {
  appearance: textfield;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

.color-palette .slider {
  width: 100%;
  height: 0.75rem;
  border-radius: 0.375rem;
  appearance: none;
}

.color-palette .slider-thumb,
.color-palette [data-color-palette='slider']::-webkit-slider-thumb,
.color-palette [data-color-palette='hue-slider']::-webkit-slider-thumb,
.color-palette [data-color-palette='alpha-slider']::-webkit-slider-thumb {
  appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  width: 1.125rem;
  height: 1.125rem;
  background: var(--thumb-color, transparent);
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.color-palette .slider-thumb,
.color-palette [data-color-palette='slider']::-moz-range-thumb,
.color-palette [data-color-palette='hue-slider']::-moz-range-thumb,
.color-palette [data-color-palette='alpha-slider']::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background: var(--thumb-color, transparent);
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.color-palette .alpha {
  background: #fff;
  background-image:
    linear-gradient(45deg, #c5c5c5 25%, transparent 0, transparent 75%, #c5c5c5 0, #c5c5c5),
    linear-gradient(45deg, #c5c5c5 25%, transparent 0, transparent 75%, #c5c5c5 0, #c5c5c5);
  background-size: 6px 6px;
  background-position:
    0 0,
    3px 3px;
}
